* {
    padding: 0;
    margin: 0;
    outline: none !important;
    font-family: 'Poppins', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #878787 #ffffff;
}

:root {
    --color-primary: #009EF7;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-link: #949CA9;
    --bg-color-light: #F9F9F9;
    --bg-color-dark: #1E1E2D;
    --bg-color-sidebar-active: #14121F;
    --text-color: #282828;
}

::placeholder {
    color: #949CA9;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #949CA9;
}

::-ms-input-placeholder {
    color: #949CA9;
}

/* ===== Scrollbar CSS ===== */
*::-webkit-scrollbar {
    width: 15px;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background: #87878780;
    border-radius: 10px;
    transition: linear;
    border: 4px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
    background: #878787;
}

html,
body {
    background: linear-gradient(180deg, #FFFFFF 6.57%, #F6F6F6 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

html {
    overflow-y: scroll;
}

a,
a:hover {
    text-decoration: none;
    transition: linear .2s;
}

button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 
input[type=checkbox]::after {
    content: "";
    height: 16px;
    width: 16px;
    border: 1px solid var(--color-primary);
    background: var(--color-white);
    border-radius: 4px;
    background-color: var(--color-white);
    display: inline-block;
    position: relative;
    top: -2px;
}

input[type=checkbox]:checked::after {
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center center;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
} */


select {
    -webkit-appearance: none;
    background: url(../images/icon/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    padding-right: 30px !important;
}

table thead tr th span.sorting-arrow {
    width: 12px;
    height: 17px;
    display: inline-block;
    position: relative;
    margin-left: 6px;
    margin-right: -6px;
    opacity: 0;
}


table thead tr th span.sorting-arrow .up {
    background-image: url(../images/icon/polygon-1.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 11px;
    width: 11px;
    display: block;
    transition: linear .2s;
    opacity: .6;
    cursor: pointer;
}

table thead tr th span.sorting-arrow .down {
    background-image: url(../images/icon/polygon-2.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 11px;
    width: 11px;
    display: block;
    transition: linear .2s;
    opacity: .6;
    cursor: pointer;
}

table thead tr th span.sorting-arrow .up:hover,
table thead tr th span.sorting-arrow .down:hover,
table thead tr th span.sorting-arrow .up:focus,
table thead tr th span.sorting-arrow .down:focus {
    opacity: 1;
}

table thead tr th:hover .sorting-arrow {
    opacity: 1;
    transition: linear .2s;
}

.btn-theme {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--color-white);
    background-color: var(--color-primary);
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    transition: background 400ms;
    position: relative;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-flex;
    border: none;
    align-items: center;
}

.btn-theme:before {
    content: "";
    position: absolute;
    display: block;
    background: var(--color-white);
    border-radius: 50%;
    pointer-events: none;
    top: calc(var(--y) * 1px);
    left: calc(var(--x) * 1px);
    width: calc(var(--d) * 1px);
    height: calc(var(--d) * 1px);
    opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
    transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
    transform: translate(-50%, -50%) scale(var(--s, 1));
    transform-origin: center;
}

.btn-theme img {
    width: 18px;
    margin-right: 10px;
}

.btn-theme:hover {
    color: var(--color-white);
}

.btn-theme-secondary {
    background-color: #009ef71a;
    color: var(--color-primary);
}

.btn-theme-secondary:hover {
    background-color: var(--color-primary);
}

.modal {
    z-index: 100;
}

.modal-backdrop {
    background-color: #000000d4;
    z-index: 95;
}

.modal-backdrop.show {
    opacity: 1;
}

/* page css start from here */
.page-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.side-bar {
    width: 250px;
    background-image: url(../images/side-bar-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    background-color: var(--bg-color-dark);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.page-area {
    padding-left: 250px;
    width: 100%;
    padding-bottom: 25px;
}


/* left sidebar css */
.side-bar-content {
    position: relative;
    height: 100%;
    overflow-y: auto;
}

.site-logo {
    padding-left: 27px;
    padding-top: 18px;
    padding-bottom: 18px;
    position: relative;
    margin-bottom: 3px;
    background-color: #14121F;
}

.site-logo a {
    display: block;
    width: 120px;
}

.site-logo a img {
    width: 100%;
}


.side-bar-menu.side-bar-log {
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 97px;
}

.side-bar-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 0;
}

/* .side-bar-menu ul li *{
    transition: linear .2s;
} */
.side-bar-menu ul li {
    margin-bottom: 3px;
}

.side-bar-menu ul li a {
    display: block;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: var(--color-link);
    padding: 13px 27px;
    position: relative;
    transition: linear .2s;
}

.side-bar-menu ul li a.active,
.side-bar-menu ul li a:hover {
    color: var(--color-white);
    background-color: var(--bg-color-sidebar-active);
    transition: linear .2s;
}


.side-bar-menu ul li a span.menu-icon {
    margin-right: 11px;
    color: #494B74;
    transition: linear .2s;
}

.side-bar-menu ul li a:hover span.menu-icon,
.side-bar-menu ul li a.active span.menu-icon {
    color: var(--color-primary);
    transition: linear .2s;
}

.side-bar-menu ul li a span.menu-icon img {
    filter: saturate(0) brightness(10000%);
    transition: linear .2s;
}

.side-bar-menu ul li a.active span.menu-icon img,
.side-bar-menu ul li a:hover span.menu-icon img {
    filter: none;
    transition: linear .2s;
}

.side-bar-menu ul li a span.menu-arrow {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
}

.side-bar-menu ul li a span.menu-arrow img {
    stroke: var(--color-white);
}


/* page area css */
/* page header css */


.page-area header {
    margin-bottom: 20px;
    background-color: var(--color-white);
    box-shadow: 0px 3px 7px #8a8e9405;
    border-bottom: 1px solid #858b9b1a;
    padding: 15px 20px;
}

.page-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: var(--text-color);
    margin: 0;
}

.search-box form {
    position: relative;
}

.search-box form label {
    position: absolute;
    width: 18px;
    left: 13px;
    top: 50%;
    transform: translate(0, -50%)
}

.search-box form label img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-box form input {
    width: 285px;
    height: 38px;
    border-radius: 4px;
    background-color: var(--color-white);
    color: var(--text-color);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    border: none;
    padding: 10px;
    padding-left: 38px;
}

.page-area header .user-summery {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 22px;
}

.page-area header .user-summery .user-img {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    transition: linear .2s;
}

.page-area header .user-summery .user-img img {
    border: 2px solid var(--color-white);
    border-radius: 4px;
    width: 40px;
}

.page-area header .user-summery .user-id {
    padding-left: 12px;
}

.page-area header .user-summery .user-id h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-black);
    margin-bottom: 1px;
}

.page-area header .user-summery .user-id p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #949CA9;
    margin: 0;
}

.page-area header .user-summery .user-img i.icon-edit {
    background-image: url(../images/icon/edit-3.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0000004d;
    transition: linear .2s;
    display: none;
    cursor: pointer;
}

.page-area header .user-summery .user-img:hover .icon-edit {
    display: block;
    transition: linear .2s;
}

.notification {
    position: relative;
    width: 24px;
    text-align: center;
}

.notification img {
    height: 18px;
}

.notification span {
    position: absolute;
    right: 3px;
    top: 2px;
    height: 8px;
    width: 8px;
    background-color: #FC424A;
    border-radius: 12px;
}

.action-bar {
    padding: 0 20px;
    margin-bottom: 23px;
}

.action-bar-group {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.action-bar-group form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.action-bar-group form label {
    width: 270px;
    background-color: #F6F6F6;
    border-radius: 5px;
    position: relative;
}

.action-bar-group form label img {
    position: absolute;
    width: 18px;
    left: 18px;
    top: 50%;
    transform: translate(0, -50%);
}

.action-bar-group form label input {
    border: none;
    padding: 9px 15px;
    padding-left: 43px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    background: transparent;
}

.action-bar-group form select {
    border: none;
    padding: 9px 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    background-color: #F6F6F6;
    border-radius: 5px;
}

.table-area {
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 20px;
    box-sizing: border-box;
}

.table-area table {
    width: 100%;
    border-spacing: 0;
}

.table-area table thead tr {
    height: 75px;
    border-bottom: 1px solid #E8E9EA;
}

.table-area table thead tr th {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-link);
    text-align: center;
}

.table-area table thead tr th:first-child {
    text-align: left;
    padding-left: 30px;
}

.table-area table thead tr th:last-child {
    padding-right: 30px;
    text-align: right;
}

.table-area table tbody {
    /* padding: 0 30px; */
    overflow: hidden;
    /* margin: 0 30px; */
    box-sizing: border-box;
}

.table-area table tbody tr {
    border-bottom: 1px solid transparent;
    position: relative;
    height: 68px;
}

.table-area table tbody tr::after {
    content: "";
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    height: 1px;
    background-color: #E8E9EA;
    display: block;
}

.table-area table tbody tr td {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
    text-align: center;
    padding: 10px 0;
}

.table-area table tbody tr td:first-child {
    padding-left: 30px;
}

.table-area table tbody tr td:last-child {
    padding-right: 30px;
    text-align: right;
}

.table-area table tbody tr td.item-title {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.table-area table tbody tr td.item-title .img {
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 4px;
    background-color: var(--color-white);
}

.table-area table tbody tr td .table-menu button {
    background: transparent;
    border: none;
    line-height: 0;
    padding: 10px;
}

.table-area table tbody tr td .table-menu .uk-dropdown {
    background: #FFFFFF;
    border: 1px solid #E8E9EA;
    box-shadow: 0px 10px 20px #5f5f5f26;
    border-radius: 4px;
    padding: 11px 0;
}

.table-area table tbody tr td .table-menu .uk-dropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.table-area table tbody tr td .table-menu .uk-dropdown ul li {
    text-align: left;
}

.table-area table tbody tr td .table-menu .uk-dropdown ul li a {
    padding: 9px 15px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--color-link);
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
}

.table-area table tbody tr td .table-menu .uk-dropdown ul li a .icon {
    width: 20px;
    text-align: center;
    display: table-cell;
}

.table-area table tbody tr td .table-menu .uk-dropdown ul li a:hover {
    font-weight: 500;
    color: var(--color-primary);
    background-color: #E9F2FA;
}

.breadcrumb {
    margin: 0;
    display: block;
    padding: 18px 30px;
}

.breadcrumb p {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: var(--color-link);
    margin: 0;
}

.breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

.breadcrumb ul li {
    text-align: center;
}

.breadcrumb ul li a {
    padding: 11px 0px;
    width: 35px;
    height: 36px;
    background-color: var(--color-white);
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: block;
    color: var(--color-link);
}

.breadcrumb ul li.active a,
.breadcrumb ul li a:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* input field CSS */
.pick-list-form {
    padding: 30px;
    padding-bottom: 310px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-end;
}

.pick-list-form .field-group {
    width: 72%;
    display: flex;
    gap: 30px;
}

.field * {
    transition: linear .3s;
}

.field-group .field {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
}

.field-group .field label {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--text-color);
    margin-bottom: 5px;
}

.field-group .field input,
.field-group .field select,
.field-group .field textarea {
    background: var(--color-white);
    border: 1px solid #E8E9EA;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--text-color);
    padding: 13px;
}

.field-group .field input:disabled,
.field-group .field select:disabled {
    background-color: #F4F6F9;
}

.field-group .field:focus-within label,
.field.disabled label {
    color: #949CA9;
}

.field-group .field input:focus, .field-group .field textarea:focus {
    border-color: var(--color-primary);
}

.pick-list-form button {
    width: calc(28% - 30px);
    display: block;
    height: 50px;
}

.field-group.field-group-col-3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px 25px;
    min-height: 450px;
    grid-auto-rows: min-content;
}

.field-group.field-group-col-3 .field {
    width: 100%;
}

.field-group.field-group-col-2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 18px 25px;
    min-height: 450px;
    grid-auto-rows: min-content;
}

.field-group.field-group-col-2 .field {
    width: 100%;
}

.create-part-form {
    padding-bottom: 40px;
}

.create-part-button-group {
    width: 100%;
}

.create-part-button-group a {
    height: 48px;
    width: 172px;
    justify-content: center;
}

.create-part-button-group button {
    width: 172px;
    height: 48px;
    margin-left: auto;
}

/* searchable dropdown CSS */
.themediv {
    position: relative;
    min-height: 34px;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

.themediv.open {
    z-index: 2;
}

.themedropdown {
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
    width: inherit;
    background-color: var(--color-white);
}

.themediv.open>.themedropdown {
    position: absolute;
}

.themedropdown>.themeselected {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    background: var(--color-white);
    border: 1px solid #E8E9EA;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--text-color);
    padding: 13px;
}

.themedropdown>.themeselected::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 15px;
    background-image: url(../images/icon/angle-down.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    right: 21px;
    top: 20px;
}


.themedropdown>.themelist {
    display: none;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden
}

.themedropdown.open>.themelist {
    display: block
}

.themelist>div {
    padding: 10px 15px;
    user-select: none;
    -webkit-user-select: none;
    border-bottom: 1px solid #f5f5f5;
    font-size: 14px !important;
    line-height: 22px !important;
}

.themedropdown.open {
    border: 1px solid var(--color-primary);
    border-radius: 5px;
}

.themedropdown.open:hover {
    overflow-x: hidden;
    -o-transition: border-color ease-in-out .1s, box-shadow ease-in-out .1s;
    -webkit-transition: border-color ease-in-out .1s, -webkit-box-shadow ease-in-out .1s;
    transition: border-color ease-in-out .1s, -webkit-box-shadow ease-in-out .1s;
    transition: border-color ease-in-out .1s, box-shadow ease-in-out .1s;
    transition: border-color ease-in-out .1s, box-shadow ease-in-out .1s, -webkit-box-shadow ease-in-out .1s;
    border: 1px solid var(--color-primary);
}

.themelist>div:hover {
    background: #009ef71a;
    color: var(--color-primary);
}

.themelist>div.selected {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.themesearchinput {
    border: none !important;
    border-top: 1px solid #E8E9EA !important;
    border-bottom: 1px solid #E8E9EA !important;
    border-radius: 0 !important;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    display: none;
}

.themedropdown.open>.themesearch {
    display: block;
}

.themedropdown.open .themesearchinput {
    display: block;
}

.themedropdown .hidetheme,
.themedropdown-select.themecreated {
    display: none;
}

.themeAll {
    width: 100%;
    position: relative;
    background-color: #0090ff;
    color: #fff;
    border: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    height: 30px;
    display: none;
}

.themeAll:hover {
    background-color: #337ab7
}

.open .themeAll {
    display: block;
}

.themedropdown.open .themeselected {
    border: none;
}

.current-stock-container {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 300px auto;
    grid-column-gap: 28px;
}

.current-stock-left .action-bar {
    padding: 0;
    margin-bottom: 17px;
}

.current-stock-right {
    width: 100%;
}


.current-stock-left .content-area {
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 12px 20px 30px;
}

.current-stock-left .content-area .thumbnail {
    margin-bottom: 18px;
}

.current-stock-left .content-area .thumbnail img {
    border-radius: 8px;
}

.field-group.field-group-col-1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px 0;
    margin-bottom: 44px;
}

.field-group.field-group-col-1 .field {
    width: 100%;
}
.field-group.field-group-2-3{
    width: 100%;
    padding-bottom: 10px;
}
.field-group.field-group-2-3 .col-4{
    width: 33.33333333%;
}
.field-group.field-group-2-3 .col-8{
    width: 66.66666667%;
}
.current-stock-right .table-area {
    margin: 0;
    margin-bottom: 39px;
}

.current-stock-right .table-area:last-child {
    margin-bottom: 0;
}

.current-stock-right .table-area thead tr th:first-child {
    padding-left: 26px;
}

.current-stock-right .table-area thead tr th:last-child {
    padding-right: 26px;
}

.current-stock-right .table-area tbody tr::after {
    left: 21px;
    right: 21px;
}

.current-stock-right .table-area tbody tr:last-child::after {
    display: none;
}

.current-stock-right .table-area tbody tr td:first-child {
    padding-left: 26px;
}

.current-stock-right .table-area tbody tr td:last-child {
    padding-right: 26px;
}

.part-multi-area {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 36px;
    border-top: 1px solid #e8e9ea80;
    padding-top: 30px;
}

.add-part-box {
    border: 1px solid #E8E9EA;
    margin-top: 12px;
}

.add-part-box table thead {
    background-color: #F3F2F7;
}

.add-part-box table thead tr {
    height: 38px;
}

.add-part-box table thead tr th {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #5E5873;
    text-align: left;
}

.add-part-box table thead tr th:first-child {
    text-align: left;
    padding-left: 18px;
}

.add-part-box table thead tr th:last-child {
    text-align: left;
    padding-right: 18px;
}

.add-part-box table tbody tr {
    height: 60px;
    border: 0;
}

.add-part-box table tbody tr::after {
    left: 0;
    right: 0;
}

.add-part-box table tbody tr td {
    padding: 0 8px;
}

.add-part-box table tbody tr td:first-child {
    padding-left: 18px;
}

.add-part-box table tbody tr td:last-child {
    padding-right: 18px;
}

.add-part-box table tbody tr td select {
    border: 1px solid #D8D6DE;
    border-radius: 6px;
    height: 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #6E6B7B;
    padding: 7px 13px;
    width: 142px;
}

.add-part-box table tbody tr td .themediv {
    width: 100%;
    min-width: 250px;
}

.add-part-box table tbody tr td .themeselected {
    height: 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #6E6B7B;
    padding: 7px 13px;
    text-align: left;
}

.add-part-box table tbody tr td .themeselected::after {
    top: 14px;
    width: 12px;
    right: 10px;
}

.add-part-box table tbody tr td .themesearchinput {
    width: 100%;
}

.add-part-box table tbody tr td .themelist {
    text-align: left;
    font-size: 12px;
    line-height: 24px;
}

.add-part-box table tbody tr td input {
    border: 1px solid #D8D6DE;
    border-radius: 6px;
    height: 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #6E6B7B;
    padding: 7px 13px;
    width: 99px;
}

.add-part-box table tbody tr:last-child::after {
    display: none;
}

.add-part-box.add-part-box-ram-report table tr td input{
    width: 100%;
}
.add-part-box.add-part-box-ram-report table tr td select{
    width: 100%;
}
.part-multi-area-inner-2 table tbody tr td:first-child {
    width: 40%;
}

.part-multi-area-inner-2 table tbody tr td:last-child {
    width: 60%;
}

.part-multi-area-inner-2 table tbody tr td input {
    width: 100%;
}